## Random forest classifire implementation with pipeline and hyperparameter tuning

In [257]:
import seaborn as sns
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [258]:
## we have to predict the time of buy using other features as independent values

In [259]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [260]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [261]:
## handle missing values
## handle duplicate values
## handle outliers
## handle categorical features

In [262]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [263]:
## change the type of feature size

In [264]:
from sklearn.preprocessing import LabelEncoder
encoder =LabelEncoder()
df['time']= encoder.fit_transform(df['time'])

In [265]:
df['time'].value_counts()

0    176
1     68
Name: time, dtype: int64

In [266]:
df.head()

   total_bill   tip     sex smoker  day  time  size
0       16.99  1.01  Female     No  Sun     0     2
1       10.34  1.66    Male     No  Sun     0     3
2       21.01  3.50    Male     No  Sun     0     3
3       23.68  3.31    Male     No  Sun     0     2
4       24.59  3.61  Female     No  Sun     0     4

In [267]:
df['time'].value_counts()

0    176
1     68
Name: time, dtype: int64

In [268]:
## independent and dependent feature

In [269]:
X = df.drop(labels=['time'],axis=1) ## independent feature
y = df['time'] ## dependent feature

In [270]:
X.head()

   total_bill   tip     sex smoker  day  size
0       16.99  1.01  Female     No  Sun     2
1       10.34  1.66    Male     No  Sun     3
2       21.01  3.50    Male     No  Sun     3
3       23.68  3.31    Male     No  Sun     2
4       24.59  3.61  Female     No  Sun     4

In [271]:
X.loc[149]

total_bill    7.51
tip            2.0
sex           Male
smoker          No
day           Thur
size             2
Name: 149, dtype: object

In [272]:
X.tail()

     total_bill   tip     sex smoker   day  size
239       29.03  5.92    Male     No   Sat     3
240       27.18  2.00  Female    Yes   Sat     2
241       22.67  2.00    Male    Yes   Sat     2
242       17.82  1.75    Male     No   Sat     2
243       18.78  3.00  Female     No  Thur     2

In [273]:
from sklearn.model_selection import train_test_split
X_train ,X_test , y_test, y_train = train_test_split(X,y , test_size=.20 , random_state=42)

In [274]:
X_train.head()

     total_bill   tip   sex smoker   day  size
228       13.28  2.72  Male     No   Sat     2
208       24.27  2.03  Male    Yes   Sat     2
96        27.28  4.00  Male    Yes   Fri     2
167       31.71  4.50  Male     No   Sun     4
84        15.98  2.03  Male     No  Thur     2

In [275]:
y_train.head()

24     0
6      0
153    0
211    0
198    1
Name: time, dtype: int64

In [276]:
from sklearn.impute import SimpleImputer## handle missing values
from sklearn.preprocessing import OneHotEncoder## handle categorical features
from sklearn.preprocessing import StandardScaler## handle feature scaling
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
## atuomate this entire process

In [277]:
categorical_col = ['sex','smoker','day']
numerical_col = ['total_bill', 'tip' , 'size' ]

In [278]:
## Feature engenerring automation

In [279]:
num_pipeline = Pipeline (
     steps=[
         ('imputer' ,SimpleImputer(strategy='median')) , ## missing values
         ('scaler' ,StandardScaler())  ## feature scaling
     ]
)


cat_pipeline = Pipeline(
    steps=[
           ('imputer' ,SimpleImputer(strategy='most_frequent')) , ## missing values
           ('encoder' ,OneHotEncoder()) ## categorical to numerical
    ]


)

In [280]:
## combine both of pipeline

In [281]:
processor = ColumnTransformer(
  [
     ('num_pipeline' ,num_pipeline ,numerical_col) ,
     ('cat_pipline' ,cat_pipeline , categorical_col)
  ]
)

In [282]:
X_train = processor.fit_transform(X_train)
X_test = processor.transform(X_test)

In [283]:
from sklearn.ensemble import RandomForestClassifier

In [284]:
## automate model traning

In [285]:
models = { 
    
    'Random forest' : RandomForestClassifier()
}

In [286]:
from sklearn.metrics import accuracy_score

In [287]:
def evaluate_model(X_train,y_train,X_test,y_test,models):
    
    report = {}
    for i in range(len(models)):
        model = list(models.values())[i]
        # Train model
        model.fit(X_train,y_train)

            

        # Predict Testing data
        y_test_pred =model.predict(X_test)

        # Get accuracy for test data prediction
       
        test_model_score = accuracy_score(y_test , y_test_pred)

        report[list(models.keys())[i]] =  test_model_score
            

            
    return report

In [289]:
## evaluate_model(X_train,y_train,X_test,y_test,models)

In [290]:
from sklearn.metrics import accuracy_score

def evaluate_model(X_train, y_train, X_test, y_test, models):
    report = {}
    
    for model_name, model in models.items():
        # Train the model
        model.fit(X_train, y_train)
        
        # Predict testing data
        y_test_pred = model.predict(X_test)
        
        # Get accuracy for test data prediction
        test_model_score = accuracy_score(y_test, y_test_pred)
        
        report[model_name] = test_model_score
        
    return report

In [291]:
evaluate_model(X_train,y_train,X_test,y_test,models)

ValueError: Found input variables with inconsistent numbers of samples: [195, 49]